html{
    background: #fefefe;
    font-family: tahoma, sans-serif;
    font-size: 16px;
    color: #333;
}

input{
    background: #333;
    font-family: tahoma;
    font-size: 16px;
    font-weight: bold;
    color: #efe;
}